.timerBlock {
    background-color: rgb(252, 230, 230);
    padding: 10px 10px;
    border-radius: 4px;
    .timer {
        h1{
            color: rgba(175, 2, 2, 0.842);
            font-size: 22px;
            margin: 0px;
        }   
 }
}

